@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Madimi+One&display=swap');

body {
    font-family: "Kode Mono", monospace;
    background-color: purple;
}
h1
{
    color: grey;
}

form
{
    background-color: whitesmoke;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black ;

}

#textbox
{
    width: 50%;
    text-align: center;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 15px;

}

label
{
    font-size: 12px;
    font-weight: bold;
}

button
{
    margin-top: 15px;
    background-color: black;
    color: blanchedalmond;
    font-size: 2em;
    border: none;
    padding: auto;
    border-radius: 5px;
}

button:hover
{
    background-color: grey;
}

#Results
{
    font-size: 14px;
    font-weight: bold;
}